<ion-item *ngIf="notice" [detail]="false">
  <!-- <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div> -->
  <div slot="start">
    <ion-button (click)="presentActionSheet(notice.id)" fill="clear">
      <ion-icon
        slot="icon-only"
        name="ellipsis-vertical"
        *ngIf="isAuthenticated"
      ></ion-icon>
    </ion-button>
    <!-- <ion-icon
      name="ellipsis-vertical"
      size="small"
      *ngIf="isAuthenticated"
    ></ion-icon> -->
  </div>
  <ion-label class="ion-text-wrap" [routerLink]="'/notice/' + notice.id">
    <h2>
      Admin
      <span class="date">
        <ion-note>{{ dateFormat(notice.createdAt) }}</ion-note>
        <ion-icon
          name="chevron-forward"
          size="small"
          *ngIf="isIos()"
        ></ion-icon>
      </span>
    </h2>
    <h3>{{ notice.title }}</h3>
    <p>
      {{ notice.content }}
    </p>
  </ion-label>
</ion-item>
