<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Announcement</ion-title> -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle *ngIf="isAuthenticated; else login ">
        <ion-item routerLink="/manage">
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          Manage Notices
        </ion-item>
        <ion-item class="logout" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Logout
        </ion-item>
      </ion-menu-toggle>
      <ng-template #login>
        <ion-menu-toggle>
          <ion-item routerLink="/login">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Login
          </ion-item>
        </ion-menu-toggle>
      </ng-template>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Announcement</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <app-list-announcement
          *ngFor="let notice of getNotices()"
          [notice]="notice"
        ></app-list-announcement>
      </ion-list>

      <!-- Tap the button in the toolbar to open the menu. -->
    </ion-content>
  </div>
</ion-content>

<ion-fab
  *ngIf="isAuthenticated"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
>
  <ion-fab-button href="/create">
    <ion-icon name="megaphone-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
